body {
    background-color: #e00000;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
div { 
    color: #5f12fa;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #000000;
    background-color: #f6c500;
    border-radius: 15px;
    border: solid 2px #000000;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #C0C2C3;
}